openapi: "3.0.0"
info:
  version: 1.0.0
  title: Mongo Training Backend
  description: Population and Immigration Authority backend service used for Yael Google Apigee POC
  contact:
    name: Yael Software (Apigee)
    email: dmitryvo@yaelsoft.com
    url: https://yaelsoft.co.il
  license:
    name: private
    url: https://yaelsoft.co.il
servers:
  - url: "https://data.mongodb-api.com/app/data-rtoee/endpoint/data"
    description: Retail backend for Developing APIs course
tags:
  - name: citizens
    description: Citizens of Israel
paths:
  /citizens/{citizenId}:
    get:
      summary: Get a citizen details
      operationId: getCitizenById
      tags:
        - citizen
      parameters:
        - name: citizenId
          in: path
          required: true
          description: citizen id
          schema:
            type: integer
      responses:
        '200':
          description: Selected citizen
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Citizens"
        '404':
          description: Citizen not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  securitySchemes:
    basicAuth:
      type: http
      description: basic auth
      scheme: basic

  schemas:
    Citizen:
      type: object
      description: citizen details
      required:
        - color
        - id
        - name
      properties:
        color:
          description: use this color for displaying this category
          type: string
        id:
          description: integer id (used for access)
          type: integer
          format: int32
          minimum: 0
        name:
          description: category name
          type: string
        
    Citizens:
      type: array
      description: array of citizens
      items:
        $ref: "#/components/schemas/Citizen"
    Error:
      type: object
      description: error response
      required:
        - error
        - error_description
      properties:
        error:
          type: string
        error_description:
          type: string
